.gif-renderer {
    display: flex;
    width: 100%;
    user-select: none;

    .three-container {
        width: 70%;
    }
    .slice-container {
        width: 30%;
    }

    & > * {
        border: 1px solid red;
    }
}

.three-container {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    

    canvas {
        width: 100% !important;
        max-height: 100vh;
    }

    .three-controls {
        border: 1px solid $text-color;
        background: rgba(255, 255, 255, 0.85);
        button {
            display: block;
            
            float: left;
            font-size: 10px;
            padding: 4px 8px;
            border: none;
            border-right: 1px solid $text-color
        }

        button:last-child {
            border-right: none;
        }
    }

    .three-view-controls {
        position: absolute;
        top: 10px;
        left: 10px;
    }

     .three-obj-controls {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.gif-renderer .slice-canvas {
    max-width: 100% !important;
    height: auto !important;
}

.gif-properties {
    font-size: 12px;
    color: $light-gray;

    .property {
        display: inline-block;
        padding: 0 0.6em;
    }

    .value {
        font-style: italic;
    }
}

.playback-controls {
    max-width: 400px;
}

.playback-controls {
    padding-bottom: 1em;

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons > * {
        display: block;
        padding: 0 0.4em;
    }
}

@media only screen and (max-width: 800px) {
    .gif-viewer {
        flex-flow: column;
    }

    .view-controls {
        margin: 0 auto;
    }

    .playback-controls {
        margin-bottom: 1.4em;
    }

    .mode-selector {
        padding-bottom: 1.4em;
    }
}